<div id="<%= dom_id tran_group %>">
  <p>
    <strong>Name:</strong>
    <%= tran_group.name %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= tran_group.icon %>
  </p>

  <p>
    <strong>User:</strong>
    <%= tran_group.user_id %>
  </p>

</div>
