<div Style="background-color:#e4ecf7">
  <div class="d-flex flex-row-reverse bd-highlight" style="background-color:#3778c2">
    <div class="p-3 bd-highlight" style="color:#9cb8db">Most ancient</div>
    <div class="p-3 bd-highlight" style="color:#c1d2e8">Most recent</div>
  </div>
  <div class="d-flex flex-row-reverse bd-highlight bg-white">
    <div class="p-2 bd-highlight">$00.0</div>
    <div class="p-2 bd-highlight">Gift credit</div>
  </div>
  <br/>
  <div class="d-flex flex-column align-item-center" id="tran_groups">
    <% @tran_groups.sort_by{ |tran_group| tran_group.created_at}.reverse.each do |tran_group| %>
      <%= render tran_group %>
    <% end %>
  </div>
  <br/>
  <br/>
  <div class="p-2 d-flex justify-content-center" style="background-color:#5fb523">
    <%= link_to "Add New Group", new_tran_group_path(current_user), class: "btn border border-white text-white"%>
  </div>
  <br/>
</div>
