<div class="p-2 m-2 rounded d-flex justify-content-center" style="background-color:#edf3fc">
  <div class="card d-flex justify-content-center" style="max-width: 700px">
    <div class="card-body">
      <h1 class="card-title text-success">Welcome to Expense Tracker App</h1>
      <div class="card-body">
        <h5 class="card-text d-flex justify-content-center">Using this app you would be able to record your actual expenses</h5>
        <h6 class="card-text d-flex justify-content-center">Please Sign Up or Log In to use the app</h6>
      </div>
    </div>
  </div>
</div>
