<h1>Editing change column name</h1>

<%= render "form", change_column_name: @change_column_name %>

<br>

<div>
  <%= link_to "Show this change column name", @change_column_name %> |
  <%= link_to "Back to change column names", change_column_names_path %>
</div>
