<p style="color: green"><%= notice %></p>

<h1>Change column names</h1>

<div id="change_column_names">
  <% @change_column_names.each do |change_column_name| %>
    <%= render change_column_name %>
    <p>
      <%= link_to "Show this change column name", change_column_name %>
    </p>
  <% end %>
</div>

<%= link_to "New change column name", new_change_column_name_path %>
