<p style="color: green"></p>

<%= render @detail %>

<div>
  <%= link_to "Edit this tran detail", edit_detail_path(@detail) %> |
  <%= link_to "Back to tran details", details_path %>

  <%= button_to "Destroy this tran detail", @detail, method: :delete %>
</div>
